* {
    font: 1em sans-serif;
}

h1, h2 {
    font-size: 36px;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

nav {
    background-color: #005DFF;
    position:  fixed;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    transform: translate(-11px, -11px);
    padding: 12px 0px;
    border-style: solid;
    z-index: 1;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
}

nav .current {
    color: yellow;
}

a:hover {
    color: yellow;
}

header {
    position: fixed;
    display: flex;
    flex-direction: column;
    transform: translate(-11px, 56px);
}

header img {
    position: fixed;
    z-index: -2;
    width: 100vw;
    height: 575px;
    object-fit: cover;
}

header h1 {
    background-color: #005DFF;
    color: white;
    width: 338px;
    height: 70px;
    padding-left: 33px;
    align-content: center;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    transform: translate(78px, 10px);
}

main {
    align-self: center;
    border-top: solid 3px black;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform: translateY(631px);
    padding: 0 130px;
    padding-top: 100px;
}

p {
    font-size: 18px;
}

main .padding {
    padding-bottom: 69px;
}

section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 54px;
    padding-left: 4.924vw;
    padding-right: 5.81vw;
}

section:nth-of-type(even) {
    flex-direction: row-reverse;
}

section > section {
    display: flex;
    flex-direction: column;
}

section > section + section {
    justify-content: center;
    align-items: center;
}

section > section + section > img {
    width: 576px;
    border-radius: 10px;
    border-style: solid;
}

section a {
    background-color: #005DFF;
    color: white;
    padding: 14px 46px;
    text-decoration: none;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    font-size: 32px;
    font-weight: bold;
    align-self: start;
}

footer {
    border-top: 3px solid black;
    display: flex;
    align-items: center;
    background-color: #2300bf;
    color: white;
    width: 100vw;
    transform: translate(-8px, 639px);
    padding: 25px 0;
}

footer a {
    padding-left: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer p {
    z-index: -1;
    transform: translateX(-30px);
    position: absolute;
    text-align: end;
    width: 99%;
}