* {
    font: 1em sans-serif;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

h2 {
    font-size: 36px;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #005DFF;
    position:  fixed;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    transform: translate(-11px, -11px);
    padding: 12px 0px;
    border-style: solid;
    z-index: 1;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
}

nav .current {
    color: yellow;
}

header {
    display: flex;
    flex-direction: row;
    transform: translateY(60px);
    padding-bottom: 60px;
}

header article {
    display: flex;
    flex-direction: column;
}

header img {
    width: 627px;
    height: 353px;
}

section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 54px;
    padding-left: 4.924vw;
    padding-right: 5.81vw;
}

section:nth-of-type(2) {
    flex-direction: row-reverse;
}

section > section {
    display: flex;
    flex-direction: column;
}

section > section + section {
    justify-content: center;
    align-items: center;
}

section > section + section > img {
    width: 576px;
    border-radius: 10px;
    border-style: solid;
}

section a {
    background-color: #005DFF;
    color: white;
    padding: 14px 46px;
    text-decoration: none;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    font-size: 32px;
    font-weight: bold;
    align-self: start;
}