* {
    font: 1em sans-serif;
}

h1, h2 {
    font-size: 36px;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #005DFF;
    position:  fixed;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    transform: translate(-11px, -11px);
    padding: 12px 0px;
    border-style: solid;
    z-index: 1;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
}

nav .current {
    color: yellow;
}

a:hover {
    color: yellow;
}

header {
    display: flex;
    flex-direction: column;
}

header img {
    width: 100vw;
    height: 575px;
    object-fit: cover;
}

header h1 {
    position: relative;
}