* {
    font: 1em sans-serif;
}

h1, h2 {
    font-size: 36px;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #005DFF;
    position:  fixed;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    transform: translate(-11px, -11px);
    padding: 12px 0px;
    border-style: solid;
    z-index: 1;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
}

nav .current {
    color: yellow;
}

a:hover {
    color: yellow;
}

header {
    display: flex;
    flex-direction: column;
    transform: translate(-11px, 56px);
}

header img {
    width: 100vw;
    height: 575px;
    object-fit: cover;
    border-style: solid;
    border-width: 3px;
}

header h1 {
    position: absolute;
    background-color: #005DFF;
    color: white;
    width: 338px;
    height: 70px;
    padding-left: 33px;
    align-content: center;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    transform: translate(78px, 10px);
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform: translateY(59px);
    padding: 0 130px;
}

main aside {
    padding: 54px 70px;
}

main article {
    display: flex;
    flex-direction: column;
    width: 410px;
    height: 600px;
    background-color: #005DFF;
    color: white;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

main article img {
    order: -1;
    width: 100%;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 10px;
    transform: translate(-2.5px, -3px);
}

p, h2 {
    padding: 0 23px;
    transform: translateY(-15px);
}

p {
    transform: translateY(-45px);
}

.padding {
    height: 10px;
    padding: 46px;
}

footer {
    border-top: 3px solid black;
    display: flex;
    align-items: center;
    background-color: #2300bf;
    color: white;
    width: 100vw;
    transform: translate(-8px, 8px);
    padding: 25px 0;
}

footer a {
    padding-left: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer p {
    z-index: -1;
    transform: translateX(-30px);
    position: absolute;
    text-align: end;
    width: 99%;
}